<div class="title">Dummy Cards</div>
<div class="data-cards">
  <app-card
    *ngFor="let item of dataSource"
    [title]="item.project_name"
    [duration]="item.duration"
    [emissions_rate]="item.emissions_rate"
    [data]="item"
  ></app-card>
</div>

<div class="title">Dummy Chart</div>
<div class="data-chart">
  <app-pie-chart [data]="dummyChartData" [type]="'doughnut'"></app-pie-chart>
  <app-line-chart [data]="dummyChartData" [type]="'line'"></app-line-chart>
</div>

<div class="title">Dummy Chart</div>
<div class="energy-table">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Run ID</th>
      <td mat-cell *matCellDef="let element">{{ element.run_id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Project Name</th>
      <td mat-cell *matCellDef="let element">{{ element.project_name }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Emissions Rate</th>
      <td mat-cell *matCellDef="let element">{{ element.emissions_rate }}</td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Energy Consumed</th>
      <td mat-cell *matCellDef="let element">{{ element.energy_consumed }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
